{% extends 'base.html.twig' %}

{% block title %}Traductions{% endblock %}

{% block body %}
  <h1>{{ source.source }}</h1>

  <table class="table">
    <tbody>
      <tr>
        <th>Source</th>
        <th>Origin target</th>
        <th>Traductions</th>
        <th>Open to translation</th>
      </tr>
      <tr>
        <td>{{ source.source }}</td>
        <td>{{ source.target }}</td>
        <td>
          {% for target in source.targets %}
            <strong>{{ target.lang.getCode }}</strong>: {{ target.target }}<br>
          {% endfor %}
        </td>
        <td>
          {% if source.blocked %}
            No
          {% else %}
            Yes
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  <a href="{{ path('project_index') }}">back to list</a>
  <a href="{{ path('traduction_source_edit', {'id': source.getId}) }}">edit</a>

  {% if source.blocked %}
        {{ include('traduction_source/_unblock_form.html.twig') }}
    {% else %}
        {{ include('traduction_source/_block_form.html.twig') }}
  {% endif %}

  {{ include('traduction_source/_delete_form.html.twig') }}
{% endblock %}